body {
  padding: 0;
  height: 100vh;
  width: 100vw;
  margin: 0;
}

#root {
  background-color: whitesmoke;
  height: 100vh;
  font-family: 'Cantarell', sans-serif;
}


// HOMEPAGE 
#background-image {
  background-image: url('https://images.squarespace-cdn.com/content/v1/52540926e4b0d49865bee20d/1525949988855-GMKRG7DQ2UKZYSYRBQ1M/ke17ZwdGBToddI8pDm48kLR2rgEg1jPu1GtjV4K1vZ97gQa3H78H3Y0txjaiv_0fDoOvxcdMmMKkDsyUqMSsMWxHk725yiiHCCLfrh8O1z4YTzHvnKhyp6Da-NYroOW3ZGjoBKy3azqku80C789l0scl71iiVnMuLeEyTFSXT3qwhEKW1IfUKL5GUNLdDa9MjuPXcXiDenG_NSvE-2lGCg/HAN_0062.jpg');
  background-size: cover;
  position: absolute;
  object-fit: fill;
  min-height: 100vh;
  height: 100vh;
  width: 100vw;
  filter: blur(2px) brightness(82%);
}

.hero-body {
  padding: 0px !important;
  .container {
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 0px;
    .title {
      border: 2px solid rebeccapurple;
      width: 280px;
      height: 300px;
      border-radius: 80%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      z-index: 10;
      background-color: rgba(245, 245, 245, 0.671);
      h1 {
        color: rebeccapurple;
        font-size: 30px;
        margin: 5%;
        font-family: 'Cantarell', sans-serif;
        letter-spacing: 4px;
      }
      img {
        height: 125px;
        width: 120px;
      }
    }
    .description {
      color: black;
      background-color: rgba(245, 245, 245, 0.527);
      width: 100%;
      font-size: 20px;
      padding: 5px 0;
      .subtitle {
        // background-color: rosybrown;
        display: flex;
        justify-content: space-evenly;
        padding-top: 10px;
          button {
            font-family: 'Cantarell', sans-serif;
            color: black;
            background-color: transparent;
            border: 1px solid black;
            outline: none;
            width: 100px;
            color: black;
          }
      }
    }
  }
}


// REGISTER PAGE 

.register-section {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
    img {
      height: 50px;
      margin: 10px;
    }
    .form {
      height: 60%;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      .control {
        display: flex;
        flex-direction: column;
        align-items: center;
        p {
          font-family: 'Cantarell', sans-serif;
          font-size: 13px;
          color: red;
        }
      }
      input {
        font-family: 'Cantarell', sans-serif;
        &:focus {
          border: 1px solid rebeccapurple;
        }
      }
      button {
        font-family: 'Cantarell', sans-serif;
        background-color: rebeccapurple;
        color: whitesmoke;
      }
      .image-input {
        font-family: 'Cantarell', sans-serif;
        display: flex;
        justify-content: center;
        width: 250px;
        padding: 10px;
        border-radius: 50px;
        background-color: white;
        border: 1px solid #dbdbdb;
        box-shadow: inset 0 0.0625em 0.125em rgba(10, 10, 10, 0.05);
        input[type="file"] {
          color:#363636;
          font-size: 12px;
          width: 180px;
        }
        }
        .login-link {
          color: rebeccapurple;
        }
      }
    }


// LOGIN PAGE 


.login-section {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
    img {
      height: 50px;
      margin: 10px;
    }
    .form {
      height: 40%;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      input {
        font-family: 'Cantarell', sans-serif;
        &:focus {
          border: 1px solid rebeccapurple;
        }
      }
      .control {
        display: flex;
        flex-direction: column;
        align-items: center;
        p {
          font-family: 'Cantarell', sans-serif;
          font-size: 13px;
          color: red;
        }
      }
      button {
        font-family: 'Cantarell', sans-serif;
        background-color: rebeccapurple;
        color: whitesmoke;
      }
    }
    .notRegistered {
      font-size: 15px;
      text-align: center;
      height: 65px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      color: black;
      padding: 10px;
      a {
        color: rebeccapurple;
      }
    }

}

// FITNESS CLASSES.JS 
#buffer {
  height: 60px;
}

.classes-section {
  background-color: whitesmoke;
  font-family: 'Cantarell', sans-serif;
  padding: 0px;
  // display: flex;
  .header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    position: fixed;
    width: 100%;
    height: 8%;
    z-index: 10;
    background-color: whitesmoke;
    padding-bottom: 5px;
    button {
      margin: 0 25px;
      background-color: #fcfcfc;
      height: 25px;
      border-radius: 20px;
      border: 2px solid rebeccapurple;
      background-color: transparent;
    }
    h2 {
      margin: 0 25px;
      padding: 0;
    }
  }
  .container {
    display: flex;
    flex-direction: column;
    width: 90%;

  }
  .title {
    display: flex;
    width: 95%;
    padding-top: 20px;
    align-self: center;
    justify-content: space-between;
  .subtitle {
    font-family: 'Cantarell', sans-serif;
    font-size: 18px;
    font-weight: 700;
    width: 65%;
    padding-bottom: 0px;

  }
  .select {
    font-size: 12px;
    select {
      font-family: 'Cantarell', sans-serif;
      border: 1px solid rebeccapurple;
    }
  }
}
  .class-card {
    display: flex;
    margin-bottom: 10px;
    justify-content: space-between;
    border-top: 2px solid rebeccapurple;
    background-color: #fcfcfc;
    .buttons {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-right: 10px;
      button {
        border-radius: 50px !important;
        background-color: rebeccapurple;
        color: whitesmoke;
        font-weight: 700;
      }
    }
  }
}


// SINGLE FITNESS CLASS.JS

.fitnessclass-section {
  font-family: 'Cantarell', sans-serif;
  height: 100%;
  overflow-x: scroll;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  padding: 20px 10px 48px;
  button {
    background-color: rebeccapurple;
    border-radius: 20px;
    border: 2px solid rebeccapurple;
    color: whitesmoke;
    font-weight: 700;
    padding: 2px 6px;
    width: 25px;
  }
  .container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    overflow-x: scroll;
    .subtitle {
      border-bottom: 2px solid rebeccapurple;
      padding-bottom: 10px;
      display: flex;
      flex-direction: column;
      height: 10%;
      justify-content: space-between;
      margin: 0;
      h4 {
        font-size: 15px;
      }
      .title {
        height: 118%;
        font-size: 23px;
        display: flex;
        justify-content: space-between;
        margin: 0;
        #class-time {
          height: 50%;
          display: flex;
          align-self: center;
          font-size: 23px;
        }
          h2 { 
          font-weight: 700;
        }
    }
  }
    .singlefitness-container {
      height: 10%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      h2 {
        font-weight: 700;
      }
    }
    .card {
      border-top: 2px solid rgba(102, 51, 153, 0.4);
      border-bottom: 2px solid rgba(102, 51, 153, 0.4);
      padding: 10px 10px;
      text-align: justify;
      background-color: transparent;
      margin-top: 5px;
    }
    .button {
      background-color: rebeccapurple;
      color: whitesmoke;
      font-weight: 700;
      width: 90%;
      display: flex;
      align-self: center;
    }
  }
}



// PROFILE


.profile-section {
  height: 100%;
  .container {
    height: 95%;
    display: flex;
    flex-direction: column;
    border-radius: 22px;
      h2 {
        font-size: 18px;
        display: flex;
        margin-bottom: 10px;
      }
      .profile-header {
        height: 35%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        margin-bottom: 10px;
        font-size: 20px;
        border-bottom: 2px solid rebeccapurple;
        img {
          height: 140px;
          width: 100px;
          display: flex;
          border-radius: 50%;
          padding-bottom: 10px;
        }
      }
      .booked-classes {
        margin: 0 5px;
        display: flex;
        flex-direction: column;
        overflow-x: scroll;
        align-items: center;
        height: 65%;
        .noClassesBooked {
          // border: 1px solid rgb(167, 164, 164);
          // box-shadow: 1px 1px darkgray;
          // background-color: rgb(231, 231, 231);
          border-radius: 10px;
          display: flex;
          flex-direction: column;
          justify-content: space-evenly;
          align-items: center;
          text-align: center;
          height: 100px;
          width: 300px;
          p {
            font-size: 18px;
          }
        }
        .card {
          background-color: snow;
          margin-bottom: 5px;
          border-bottom: 2px solid grey;
          display: flex;
          justify-content: space-between;
          align-items: center;
          h3 {
            font-weight: 700;
          }
        }
        .button {
          background-color: rebeccapurple;
          color: whitesmoke;
          margin-right: 10px;
          font-weight: 700;
        }
      }
  }
}

// BOROUGH.JS 

.borough-section {
  background-color: whitesmoke;
  .borough-title {
    font-weight: normal;
    display: flex;
    justify-content: center;
    font-size: 25px;
    border-bottom: 2px solid rebeccapurple;
    padding-bottom: 10px;
  }
}

// SEARCH FORM
.SearchForm {
  padding-bottom: 20px;
      input[type=text] {
      width: 130px;
      transition: width 0.4s ease-in-out;
      border: 1px solid rebeccapurple;
      font-size: 15px;
      &:focus {
        width: 100%
      }
    }
}



//  BOROUGH CARD 
.column {
  padding: 18px;
  .borough-card {
    border-radius: 20px;
    background-color:  #fcfcfc;
    &:hover {
      transform : translateY(-15px);
    }
    .borough-image {
      border-radius: 0px 0px 20px 20px;
      opacity: 0.9;
    }
    #Lambeth {
      transform: translateY(15px);
    }
    .borough-cardContent {
      background-color:  #fcfcfc;
      border-radius: 25px;
      padding: 10px;
      opacity: 0.9;
      }
    .borough-subtitle {
      display: flex;
      justify-content: center;
      font-size: 12px;
      font-weight: bold;
    }
  }
}


// BOOKING CONFIRMATION 
.confirmation-section {
  height: 100%;
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
    width: 95%;
    .title {
      display: flex;
      flex-direction: column;
      height: 170px;
      justify-content: space-between;
      align-items: center;
      img {
        height: 125px;
        width: 120px;
        }
        h3 {
          font-size: 25px;
        }
    }
    .subtitle {
      // background-color: seagreen;
      height: 350px;
      width: 90%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      h2 {
        font-size: 28px;
      }
      p {
        font-size: 16px;
      }
      h3 {
       color: rebeccapurple;
      }
      button {
        background-color: rebeccapurple;
        color: whitesmoke;
        font-weight: 600;
        height: 45px;
      }
    }
  }
}



// NAVBAR 

.navbar {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: rgba($color:whitesmoke, $alpha: 1);
  a{
    color: rebeccapurple;
    font-size: 20px;
  }
}



@media only screen and (min-width: 683px) {
  .form {
    input {
      width: 50vw;
    }
  }
  #Lambeth {
    transform: translateY(0px) !important;
  }
  #background-image {
    background-image: url('https://images.squarespace-cdn.com/content/v1/5a01f131b1ffb664756496a7/1571680774825-JH0ZPHPYZLBLTUCWO84O/ke17ZwdGBToddI8pDm48kJRqFJ19D4P4EwsC9z3fiewUqsxRUqqbr1mOJYKfIPR7LoDQ9mXPOjoJoqy81S2I8N_N4V1vUb5AoIIIbLZhVYy7Mythp_T-mtop-vrsUOmeInPi9iDjx9w8K4ZfjXt2dkV64dCjSK7Zaaf7dwPYPO_gHf_vjqrS5WJoq1nmwotrP7cJNZlDXbgJNE9ef52e8w/PHOTO-2019-04-17-15-06-30.jpg?format=2500w');
    background-size: cover;
    background-position: center;
    background-size: cover;
    position: absolute;
    object-fit: fill;
    min-height: 100vh;
    height: 100vh;
    width: 100vw;
    filter: blur(2px) brightness(82%);
  }
  div.description {
    padding-top: 20px !important;
    font-size: 20px !important;
    padding-bottom: 20px !important;
    width: 320px !important;
    border: 2px solid rebeccapurple;
  }
  div.subtitle {
    padding-top: 20px !important;
}
}









